/*RESET
*****************************************/

*{
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: #222222;
}

img {
	max-width: 100%;
	height: auto;
}

body{
	font-size: 62.5%;
	font-family: sans-serif, helvetica,tahoma, arial;
    counter-reset: Serial;
}

ol, ul {
    list-style: none outside none;
}

/* STRUCT
******************************************/
#header{
	border-bottom: 1px solid #E2E2E2;
    width:100%;
    height: 50px;
    top:0;
    left:0;
    position:fixed;
    bottom:auto;
    z-index:9999999;
    background: #FFFFFF;
}

#wrapper{
	font-size: 1.3em;
	overflow: hidden;
	background: #F1F1F1;
	top: 100px;
	margin-top: 50px;
}
#wrapper aside{
	float: left;
	width: 180px;
	height: 1000px;
	position: fixed;
	background: #FFFFFF;
	border: 1px solid #E2E2E2;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 40px;	
}

#maincontent{
	float: left;
	width: 77%;
	min-width: 300px;
    min-height:450px;
	background: #FFFFFF;
	border: 1px solid #E2E2E2;	
	margin-left: 270px;
	margin-bottom: 20px;
	margin-top: 10px;
}

#maincontent section{
	border-bottom: 1px solid #E2E2E2;
	padding: 15px;
}

/**********************************************************/

/*HEADER
************************************************/
#logo{
	float: left;
	margin-left: 20px;
}

#logout{
    float:right;
    margin:10px 50px 0px 0px;
    font-size:1.3em;
    padding:7px 20px;
    background: #3C70C9;
	color: white;
}

#logout:hover{
    background: #FF9900;
}

#form_search{
	float: right;
	width: 70%;
	margin-top: 7px;
	overflow: hidden;
}

#Title{
	width: 70%;
	height: 25px;
}

#plogin a{
    padding:10px 100px 10px 100px;
    border-top: 1px solid #E2E2E2;
    color:#CFD7DB;

}

#plogin a:hover{
    color:#63B547;
}

input[type="submit"]{
	border: none;
	background: #3C70C9;
	color: white;
	width: 80px;
	height: 30px;
}

input[type="submit"]:hover{
	background: #FF9900;
}

/*SITEBAR
************************************/
#Home{
	padding: 20px 0px 10px 0px;
}

#Home a{
	background: #CC181E;
	padding:7px 129px 7px 10px;
	color: white;
	font-weight: bold;
}

.SubMenu{
	padding-bottom: 5px;
	padding-top: 5px;
}

.SubMenu a{
	padding: 5px;

}

#Category{
	border-bottom: 1px solid #E2E2E2;
	border-top: 1px solid #E2E2E2;
	padding:10px;
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
}

/*POST
**********************************************/
section img{
	float: left;
	margin-right: 10px;
}

.book_image{
    width:65px;
    height:97px;
}

.book_title{
	font-size: 1.6em;
	margin-bottom: 5px;
}



.book_title a:hover{
	color: #B71234;
}

.book_ov {
    margin-top: 10px;
}

.book_overview{
	margin-top: 5px; 
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap;
}

/*FOOTER
***********************************************/
footer {
    border-top: 2px solid #FF9900;
    margin-left: 200px;
}

footer h2{
    text-align:right;
    padding-top: 10px;
    text-align: center;

}
footer p{
    text-align:center;
    padding: 3px;
    font-size: 1.3em;
}

footer p a:hover{
    color: #FF9900;
}


/*===============================================================*/
/*FORMAT CATEOGRY*/
.maincontent{
    margin:20px;
    overflow:hidden;
}

.title{
    color:#CF181E;
    font-size:1.4em;
    margin-bottom:10px;
}

.pNew{
    margin-top:20px;
    margin-bottom:10px;
}
.new{
    border: none;
	background: #3C70C9;
	color: white;
    padding:5px 20px 5px 20px;
}

.new:hover{
	background: #FF9900;
}

table
{
    border-collapse: separate;
    border:1px solid #E2E2E2;
    min-width:400px;
}

tr:hover{
    background: #333333;
    color:white;
}

tr td:first-child:before
{
  counter-increment: Serial;
  content: counter(Serial);
}

td{
    padding:3px 10px 3px 10px;
}


.editor-field, .display-label{
    margin-top:3px;
    margin-bottom:10px;
}

.editor-field input[type="text"], .editor-field input[type="password"]{
    width:300px;
    height:20px;
}

p input[type="submit"]{
    margin-top:5px;
}

.button{
    margin-top:10px;
}

.button a:hover{
    text-decoration:underline;
    color:red;
}


/* FORMAT NEW BOOK*/
.divleft{
    float:left;
    margin-right:20px;
}

.divright{
    position:fixed;
    left:620px;
}
#boxoverview{
    width:650px;
    height:300px;
}

/*LOGIN
    ********************************************/

.formLogin{
    border:1px solid #E2E2E2;
    padding:20px;
    width:350px;
}

#forgetpass{
    margin-left:20px;
}

.fb-comments{
    margin:10px auto;
}