@model IEnumerable<BookManagement.Core.Models.Category>

<ul>
    @foreach (var item in Model)
{
    <li class="SubMenu">@Html.ActionLink(item.Name, "Index", "Home", new { categoryId = item.Id }, null)</li>

}
</ul>
