@{
    ViewBag.Title = "DetailBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model BookManagement.Core.Models.Book

<div class="maincontent">
    <h2>DetailBook</h2>
    <h2>@Model.Title</h2>
    <div class="fb-comments" data-href="localhost:1064" data-colorscheme="light"
         data-numposts="5" data-width="800"></div>
</div>