@model IEnumerable<BookManagement.Core.Models.Category>

@{
    ViewBag.Title = "Index";
}
<div class="maincontent">
    <p class="title">Categories</p>
    
    <p class="pNew">
        @Html.ActionLink("New", "Create", null, new { @class = "new" })
    </p>

    <table id="categories">
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btnEdit" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btnEdit" })
                </td>
            </tr>
        }
    </table>

    
</div>